<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Arknights</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header')%>

    <div class="">
        <form>
            <div style="margin: 20px;">                
                <select class="nice-input" name="filter">
                    <%if(flt){%>
                    <option value="<%=flt%>" selected hidden>By <%=flt%></option>
                    <%}%>
                    <option value="id">By id</option>
                    <option value="type">By type</option>
                    <option value="rarity">By rarity</option>
                    <option value="level">By level</option>
                </select>
                <button class="nice-button" type="submit" formmethod="get" formaction="/">Filter</button>
                <button class="nice-button" type="submit" formmethod="post" formaction="/new">Add</button>
            </div>
        </form>

        <div class="">
            <% operators.forEach(function(operator){ %>
                <%- include('partials/characterPart', {character: operator}); %>
            <% }); %>
        </div>
    </div>
</body>
</html>